@import 'reset.css';

/* Components */
@import 'components/banner.css';
@import 'components/sidebar.css';

/* Screens */
@import 'screens/home.css';
@import 'screens/board.css';
@import 'screens/write.css';
@import 'screens/view.css';

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

main {
	display: flex;
	height: 100%;
}
