.write {
	min-width: 80%;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.write__title {
	margin-bottom: 10px;
}

.write__title > input {
	width: 95%;
}

.write__body {
	height: 80%;
	margin-bottom: 10px;
}
