.write {
	width: 80vw;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}

.write__title {
	margin-bottom: 10px;
}

.write__title > input {
	width: 85%;
}

.write__body {
	height: 80%;
	width: 90%;
	margin-bottom: 10px;
}
